<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MLB</title>
  </head>
  <body>
    <a href="/">
      <h1>
        MLB
        <h5><span>Make Life Better</span></h5>
      </h1>
    </a>
    <hr />
    <div class="buttons">
      <input name="yunews" , type="button" , value="yu-news" title="영대소식" />
    </div>
  </body>
  <footer>Copyright &copy; 2024 bol7979 All rights reserved</footer>
</html>
